body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: gainsboro;
}

h1 {
    text-align: center;
    color: rgb(53, 49, 49);
}

form {
    max-width: 600px;
    margin: auto;
    background-color: rgb(237, 162, 240);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
    padding: 20px;
}

fieldset {
    border: 2px solid rgb(208, 70, 226);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(235, 225, 234);
}

legend {
    font-weight: bold;
    text-align: center;
    color: rgb(53, 49, 49);
}

label {
    display: block;
    margin-top: 10px;
    color: rgb(53, 49, 49);
}

input,
textarea {
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #e4bfd5;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(211, 130, 236);
    color: rgb(15, 14, 14);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: rgb(208, 70, 226);
}

#resumeOutput {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(158, 95, 160);
    border-radius: 8px;
    background-color: rgb(211, 130, 236);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
}

#resumeOutput h2 {
    color: rgb(100, 98, 98);
}
.profilePicture{
    display: block;
    margin: 0 auto;
    border:2px solid rgb(208, 70, 226) ;
    box-shadow: 0 4px 8px rgba(11,7,211,0.5);
    border-radius:500%;
    width:150px;
    object-fit: cover;
}
